.def-orderbook-container{
    display: grid;
    .def-orderbook-body{
        display: grid;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 3px;
            height: 5px;
        }
        &::-webkit-scrollbar-thumb { 
            background-color: rgba(5, 5, 5, 0.3);
        }
        .orderbook-list-item{
            display: grid;
            justify-content: center;
        }
    }
    .def-orderbook-footer{
        display: grid;
        div{
            display: grid;
            justify-content: center;
            padding-top: 3px;
            font-size: 13px;
        }
    }
}