.coin-page-container{
    display: flex;
    margin: 15px 0px 40px 125px;
    text-align: justify;
    @media screen and (max-width: 768px) {
        margin-left: 0px;
    }
}

.chart-plotinv-dealstate-container{
    @media screen and (max-width: 768px) {
        display: none;
    }
}