$padding-s : 5px;
$fontsize-s: 12px;
$fontsize-m: 14px;
$fontsize-l: 18px;

$box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.2);

.real-time-list-container{
    display: grid;
    .real-time-list-search{
        margin-left: 20px;
        text-align: justify;
        input{
            border: none;
            box-shadow: $box-shadow;
        }
        @media screen and (max-width: 768px) {
            margin-left: 0px;
        }
    }
    li{
        list-style: none;
        .list-item{
            &:hover{
                background-color: #cccccc;
            }
        }
    }
    .real-time-list{
        background: #f6f6f6;
        margin-left: 20px;
        box-shadow: $box-shadow;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 1px;
            height: 5px;
            //display: none;
        }
        &::-webkit-scrollbar-thumb { 
            background-color: rgba(5, 5, 5, 0.5);
        }
        @media screen and (max-width: 768px) {
            margin-left: 0px;
        }
    }
    .real-time-list-header{
        display: grid;
        margin: 0px 0px 7px 20px;
        background: #f6f6f6;
        box-shadow: $box-shadow;
        padding: 7px $padding-s $padding-s $padding-s;
        font-size: $fontsize-m;
        @media screen and (max-width: 768px) {
            margin-left: 0px;
        }
    }
}

.real-time-list-item{
    display: grid;
    padding: $padding-s $padding-s $padding-s $padding-s;
    font-size: $fontsize-m;
    .variation{
        grid-template-rows: 18px 10px;
        .variation-rate, .variation-price{
            float: right;
        }
    }
    .str{
        color: #252121;
    }
}