$margin-left: 30px;
$input-padding: 14px 10px 10px 10px;
$font-size: 15px;

.user-login-form {
  position: absolute;
  margin-top: 55px;
  flex-direction: column;
  margin-left: 612px;
  @media screen and (max-width: 1200px) {
    margin-left: 10px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 49px;
  }
}
.login-container {
  background-color: #f3f3f3;
  border-radius: 7px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  .login-des {
    font-size: 35px;
    font-weight: bold;
    padding-top: 50px;
    margin-left: $margin-left;
  }
  .input-login-des {
    margin-top: 10px;
    margin-left: $margin-left;
  }
  .email-input {
    font-size: $font-size;
    margin-top: 5px;
    margin-left: $margin-left;
    padding: $input-padding;
  }
  .password-input {
    font-size: $font-size;
    margin-top: 5px;
    margin-left: $margin-left;
    padding: $input-padding;
  }
  .remember-box {
    margin-top: 10px;
    margin-left: $margin-left;
  }

  .sign-btn {
    font-size: $font-size;
    margin-top: 12px;
    margin-left: $margin-left;
    padding: 5px 10px 5px 10px;
  }
  .sign-up {
    margin-top: 12px;
  }
}
